*,
*::before,
*::after {
    box-sizing: border-box;

}
body {
    background-image: url(../img/bacimg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    /* margin: 0 auto; */
    /* max-width: max-content; */
}
.header {
 padding-top: 51px;

}
.back_photo {
    width: 55px;
    height: 55px;
    background-image: url(../img/main\ photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    overflow: hidden;
}
.header_first_contant:hover .back_photo {
    background-position: bottom right -5px;

}
.header_first_contant:hover .header_text {
    color: #F26522;

}

.header_first_contant {
    display: flex;
}

.header_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 18px;
    color: #FFFFFF;
    margin-left: 5px;
    padding-top: 10px;

}

.header_text span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
}
.header_contant {
    display: flex;
}
.back_photo:hover.header_text {

    color: #F26522;
}
.header_second_contant {
    display: flex;
    flex-wrap: wrap;
    margin-left: 693px;
}
.header_mail {
    margin-left: 59px;
    margin-top: 15px;
}

.header_second_contant a {
    color: white;
}

.header_second_contant a:hover {
    color: #F26522;

}

.main {
    padding-top: 17px;
}
.main_contant {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 220px);
    column-gap: 60px;
    row-gap: 80px;
}

.first_card:hover .card1::after {
    color: #F26522;
}
.card1::after {
    position: absolute;
    content: "Shopping Tours";
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    left: 92px;
    top: 240px;
}
.card1 {
    position: relative;
    max-width: 300px;
    max-height: 220px;

}
.card2 {
    position: relative;
}
.card2::after {
    position: absolute;
    content: "Sightseeing Tours";
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    left: 92px;
    top: 240px;
}
.card3 {
    position: relative;
}
.card3::after {
    position: absolute;
    content: "Food Tours";
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    left: 106px;
    top: 240px;
}
.card4 {
    position: relative;
}
.card4::after {
    position: absolute;
    content: "Bars & Nightlife";
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    left: 92px;
    top: 240px;
}
.card5 {
    position: relative;
}
.card5::after {
    position: absolute;
    content: "Art & Architecture";
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    left: 87px;
    top: 240px;

}
.card6 {
    position: relative;
}
.card6::after {
    position: absolute;
    content: "Walking Tours";
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    left: 92px;
    top: 240px;


}

.footer {
    padding-top: 90px;
}

.footer_contant {
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}

.hover_cards {
    display: none;
    z-index: -1;
}

.cards_hover1 {
    position: relative;
}

.first_card :hover .hover_cards {
    display: block;
    position: absolute;
    top: 164px;
    z-index: 1;

}

.prise {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 55px;
    background: #F26522;
}

.prise_text {
    padding-top: 7px;
    color: white;
    padding-left: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
}

.prise_text span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: white;
}

.prise_text2 {
    margin-left: 130px;
    color: white;
    padding-top: 29px;
}

.second_card {
    position: relative;
}

.second_card :hover .hover_cards2 {
    display: block;
    position: absolute;
    top: 164px;
    z-index: 1;

}

.second_card :hover .card2::after {
    color: #F26522;
}

.hover_cards2 {
    display: none;
    z-index: -1;

}

.third_card {
    position: relative;
}

.third_card :hover .hover_cards3 {
    display: block;
    position: absolute;
    top: 164px;
    z-index: 1;

}

.third_card :hover .card3::after {
    color: #F26522;
}

.hover_cards3 {
    display: none;
    z-index: -1;
}

.fourth_card {
    position: relative;
}

.fourth_card :hover .hover_cards4 {
    display: block;
    position: absolute;
    top: 164px;
    z-index: 1;

}

.fourth_card :hover .card4::after {
    color: #F26522;
}

.hover_cards4 {
    display: none;
    z-index: -1;
}

.fifth_card {
    position: relative;
}

.fifth_card :hover .hover_cards5 {
    display: block;
    position: absolute;
    top: 164px;
    z-index: 1;

}

.fifth_card :hover .card5::after {
    color: #F26522;
}

.hover_cards5 {
    display: none;
    z-index: -1;
}

.sixth_card {
    position: relative;
}

.sixth_card :hover .hover_cards6 {
    display: block;
    position: absolute;
    top: 164px;
    z-index: 1;

}

.sixth_card :hover .card6::after {
    color: #F26522;
}

.hover_cards6 {
    display: none;
    z-index: -1;
}

.prise_text2::after {
    content: ">";
    display: block;
    position: absolute;
    bottom: 8px;
    right: 13px;
}